In [13]:
from utils.post_processing import *

vid_id = '1642994619'
obj = 'pitcher'
config_path2d = f'/home/luke/Desktop/project/make_tea/dlc/make_tea_{obj}-luke-2022-01-29/config.yaml'
videos = [f'/home/luke/Desktop/project/make_tea/camera-main/videos/{vid_id}/left/{vid_id}-left.mp4',
          f'/home/luke/Desktop/project/make_tea/camera-main/videos/{vid_id}/right/{vid_id}-right.mp4']

# Analyze videos

In [2]:
import deeplabcut

deeplabcut.analyze_videos(config_path2d, videos, videotype = '.mp4')

Using snapshot-30000 for model /home/luke/Desktop/project/make_tea/dlc/make_tea_pitcher-luke-2022-01-29/dlc-models/iteration-0/make_tea_pitcherJan29-trainset95shuffle1

/home/luke/anaconda3/envs/DEEPLABCUT/lib/python3.8/site-packages/tensorflow/python/keras/engine/base_layer_v1.py:1694: UserWarning: `layer.apply` is deprecated and will be removed in a future version. Please use `layer.__call__` method instead.
  warnings.warn('`layer.apply` is deprecated and '

Activating extracting of PAFs

2022-02-01 16:47:19.188111: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-02-01 16:47:19.200424: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-02-01 16:47:19.200746: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-02-01 16:47:19.201368: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-02-01 16:47:19.202499: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-02-01 16:47:19.202813: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-02-01 16:47:19.203084: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-02-01 16:47:19.547197: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-02-01 16:47:19.547455: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-02-01 16:47:19.547623: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-02-01 16:47:19.547764: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 9919 MB memory:  -> device: 0, name: NVIDIA GeForce GTX 1080 Ti, pci bus id: 0000:01:00.0, compute capability: 6.1

Starting to analyze %  /home/luke/Desktop/project/make_tea/camera-main/videos/1642994619/left/1642994619-left.mp4
Video already analyzed! /home/luke/Desktop/project/make_tea/camera-main/videos/1642994619/left/1642994619-leftDLC_dlcrnetms5_make_tea_pitcherJan29shuffle1_30000.h5
Using snapshot-30000 for model /home/luke/Desktop/project/make_tea/dlc/make_tea_pitcher-luke-2022-01-29/dlc-models/iteration-0/make_tea_pitcherJan29-trainset95shuffle1
Processing...  /home/luke/Desktop/project/make_tea/camera-main/videos/1642994619/left/1642994619-left.mp4
Tracklets already computed /home/luke/Desktop/project/make_tea/camera-main/videos/1642994619/left/1642994619-leftDLC_dlcrnetms5_make_tea_pitcherJan29shuffle1_30000_bx.pickle
Set overwrite = True to overwrite.
The tracklets were created (i.e., under the hood deeplabcut.convert_detections2tracklets was run). Now you can 'refine_tracklets' in the GUI, or run 'deeplabcut.stitch_tracklets'.
Processing...  /home/luke/Desktop/project/make_tea/camera-main/videos/1642994619/left/1642994619-left.mp4

100%|██████████████████████████████████████████| 1/1 [00:00<00:00, 30174.85it/s]

Starting to analyze %  /home/luke/Desktop/project/make_tea/camera-main/videos/1642994619/right/1642994619-right.mp4
Video already analyzed! /home/luke/Desktop/project/make_tea/camera-main/videos/1642994619/right/1642994619-rightDLC_dlcrnetms5_make_tea_pitcherJan29shuffle1_30000.h5
Using snapshot-30000 for model /home/luke/Desktop/project/make_tea/dlc/make_tea_pitcher-luke-2022-01-29/dlc-models/iteration-0/make_tea_pitcherJan29-trainset95shuffle1
Processing...  /home/luke/Desktop/project/make_tea/camera-main/videos/1642994619/right/1642994619-right.mp4
Tracklets already computed /home/luke/Desktop/project/make_tea/camera-main/videos/1642994619/right/1642994619-rightDLC_dlcrnetms5_make_tea_pitcherJan29shuffle1_30000_bx.pickle
Set overwrite = True to overwrite.
The tracklets were created (i.e., under the hood deeplabcut.convert_detections2tracklets was run). Now you can 'refine_tracklets' in the GUI, or run 'deeplabcut.stitch_tracklets'.
Processing...  /home/luke/Desktop/project/make_tea/camera-main/videos/1642994619/right/1642994619-right.mp4

100%|██████████████████████████████████████████| 1/1 [00:00<00:00, 14074.85it/s]

The videos are analyzed. Time to assemble animals and track 'em...
 Call 'create_video_with_all_detections' to check multi-animal detection quality before tracking.
If the tracking is not satisfactory for some videos, consider expanding the training set. You can use the function 'extract_outlier_frames' to extract a few representative outlier frames.

'DLC_dlcrnetms5_make_tea_pitcherJan29shuffle1_30000'

# Interpolate the result

In [8]:
from utils.post_processing import interpolate_data

kernel = 'cubic'
windowlength = 3
h5files = interpolate_data(config_path2d, videos, filtertype = kernel, windowlength = windowlength)

Filtering with cubic model /home/luke/Desktop/project/make_tea/camera-main/videos/1642994619/left/1642994619-left.mp4
The h5 file is saved at: /home/luke/Desktop/project/make_tea/camera-main/videos/1642994619/left/1642994619-left_cubic.h5
Filtering with cubic model /home/luke/Desktop/project/make_tea/camera-main/videos/1642994619/right/1642994619-right.mp4
The h5 file is saved at: /home/luke/Desktop/project/make_tea/camera-main/videos/1642994619/right/1642994619-right_cubic.h5

In [24]:
import pandas as pd

pd.read_hdf(h5files[1])

scorer      DLC_dlcrnetms5_make_tea_pitcherJan29shuffle1_30000           \
individuals                                            pitcher
bodyparts                                            bodypart1
coords                                                       x        y
0                                                          NaN      NaN
1                                                          NaN      NaN
2                                                          NaN      NaN
3                                                          NaN      NaN
4                                                          NaN      NaN
..                                                         ...      ...
533                                                    353.415  190.386
534                                                        NaN      NaN
535                                                        NaN      NaN
536                                                        NaN      NaN
537                                                        NaN      NaN

scorer                                                                  \
individuals
bodyparts                bodypart2                           bodypart3
coords      likelihood           x           y likelihood            x
0                  NaN         NaN         NaN        NaN          NaN
1                  NaN         NaN         NaN        NaN          NaN
2                  NaN         NaN         NaN        NaN          NaN
3                  NaN         NaN         NaN        NaN          NaN
4                  NaN         NaN         NaN        NaN          NaN
..                 ...         ...         ...        ...          ...
533              0.994  379.862000  247.577000      0.994   404.404000
534              1.000  377.587436  247.939719      0.010  1100.716979
535              1.000  373.282957  249.360813      0.010  1387.054000
536              1.000  370.019000  252.626000      0.971   402.414000
537              1.000  370.866000  258.521000      0.962   398.057000

scorer                                                                 \
individuals
bodyparts                            bodypart4
coords                y likelihood           x           y likelihood
0                   NaN        NaN         NaN         NaN        NaN
1                   NaN        NaN         NaN         NaN        NaN
2                   NaN        NaN         NaN         NaN        NaN
3                   NaN        NaN         NaN         NaN        NaN
4                   NaN        NaN         NaN         NaN        NaN
..                  ...        ...         ...         ...        ...
533          315.585000      1.000  425.979000  373.305000      0.997
534          400.191607      0.010  428.478235  369.935794      0.010
535          434.839000      0.624  432.609490  363.541863      0.010
536          315.560000      0.990  436.163000  361.534000      0.762
537          316.004000      0.958  436.929000  371.323000      0.796

scorer
individuals
bodyparts   bodypart5
coords              x        y likelihood
0                 NaN      NaN        NaN
1                 NaN      NaN        NaN
2                 NaN      NaN        NaN
3                 NaN      NaN        NaN
4                 NaN      NaN        NaN
..                ...      ...        ...
533               NaN      NaN      1.000
534            43.936  859.694      0.273
535            43.960  859.750      0.229
536           475.822  443.880      0.048
537           484.416  443.249      0.140

[538 rows x 15 columns]

# Visualize interpolation result

In [25]:
from utils.visualization import create_video_with_h5file
ind = 1
video = videos[ind]
h5file = h5files[ind]
create_video_with_h5file(config_path2d, video,  h5file, suffix = kernel )

Video is saved at /home/luke/Desktop/project/make_tea/camera-main/videos/1642994619/right/1642994619-right_cubic.mp4

# Triangulate

In [1]:
from utils.triangulation import triangulate

h5files = ['/home/luke/Desktop/project/make_tea/camera-main/videos/1642994619/left/1642994619-left_linear.h5',
           '/home/luke/Desktop/project/make_tea/camera-main/videos/1642994619/right/1642994619-right_linear.h5']
config_path3d = '/home/luke/Desktop/project/make_tea/dlc/make_tea_3d-Luke_Yinghan-2022-01-13-3d/config.yaml'
triangulate(config_path3d, h5files)

Undistorting...

0it [00:00, ?it/s]/home/luke/Desktop/project/make_tea/utils/triangulation.py:304: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  ] = dataframe_cam1.xs(
/home/luke/Desktop/project/make_tea/utils/triangulation.py:323: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  ] = dataframe_cam2.xs(
5it [00:00, 140.68it/s]

Computing the triangulation...
Results are saved under:  /home/luke/Desktop/project/make_tea/camera-main/videos/1642994619

Gtk-Message: 16:55:50.543: Failed to load module "atk-bridge"
Gtk-Message: 16:55:50.546: Failed to load module "canberra-gtk-module"

In [ ]:
a