In [17]:
import heuristic_util 
import pandas as pd


df = pd.DataFrame({'a':[4,5,61,6,7,8,8,8,2], 'b':[1,20,3,4,5,6,7,8,22]})
df[(df.mean(axis=1) > 5)]

    a   b
1   5  20
2  61   3
4   7   5
5   8   6
6   8   7
7   8   8
8   2  22